*[~#]
*.[ao]
*.bak
.le.ini
core
core.*
*.exe
*.gcda
*.gcno
*.gcov
*.creator.user
*.lo
mdbx_chk
mdbx_copy
*.VC.db
*.VC.VC.opendb
*.vcxproj.filters
mdbx_dump
mdbx_load
mdbx_stat
*.orig
*.rej
*.so
mdbx_test
*.vcxproj.user
tmp.db
tmp.db-lck
valgrind.*
.vs/
Win32/
x64/
x86/
test.log
example
